/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
/* Header Styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: #2c3e50;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    color: white;
}
.logo img {
    height: 50px;
}
/* Navigation Styles */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    position: relative;
}
nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    display: block;
    margin-right: 10px;
}
nav ul li:hover > a {
    background: #34495e;
}

/* Dropdown Menu Styles */
.dropdown {
    display: none;
    position: absolute;
    background: #2c3e50;
    min-width: 150px;
}
.dropdown li {
    width: 100%;
}
nav ul li:hover .dropdown {
    display: block;
}


/* Process Section Styling */
.process-container {
    text-align: center;
    padding: 50px 20px;
    background-color: rgb(162, 169, 164);
}

.process-container h2 {
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-out forwards;
}

.approch-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.approch-item {
    width: 300px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-out forwards;
}

.approch-item:nth-child(2) { animation-delay: 0.3s; }
.approch-item:nth-child(3) { animation-delay: 0.6s; }
.approch-item:nth-child(4) { animation-delay: 0.9s; }
.approch-item:nth-child(5) { animation-delay: 1.2s; }

.approch-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.approch-item img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.approch-item:hover img {
    transform: scale(1.1);
}

.approch-item h2 {
    font-size: 1.8em;
    margin: 15px 0;
    color: #007BFF;
}

.approch-item p {
    font-size: 1em;
    color: #555;
}

/* Animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
